<div class="container">
  <h1><strong><%= @list.name %></strong></h1>
  <%= cl_image_tag @list.photo.key, width: 150 %>

  <hr>

  <h3>Movies</h3>

  <% @list.movies.each do |movie| %>
    <div class="container">
      <div class="row py-3">
        <div class="col-4">
        <%= image_tag movie.poster_url, width: 200 %>
        </div>
        <div class="col-6">
          <p><strong><%= movie.title %></strong></p>
          <p><%= movie.overview %></p>
          <p><strong>rating:</strong>
            <%= movie.rating %></p>
          <p><strong>comment:</strong>
            <%= movie.bookmarks.last.comment %></p>
        </div>
      </div>
    </div>
  <% end %>

  <hr>
  <h3>Reviews</h3>
  <div class="row">
    <% @list.reviews.each do |review| %>
      <div class="col-6">
        <p><strong>comment:</strong>
          <%= review.comment %></p>
        <p><strong>rating:</strong>
          <%= review.rating %></p>
      </div>
    <% end %>
  </div>
  <hr>
  <h3>Write a review</h3>
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :comment, placeholder: 'Enter a comment', label: false %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Make a Bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Delete a Bookmark', bookmark_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Back', lists_path %>
</div>
